In [2]:
import pandas as pd

In [5]:
def get_columns(df):
    print(f'Columns: {df.columns}')

In [6]:
def get_column_types(df):
    for column in df.columns:
        print(f"{column}: {df.dtypes[column]}")

In [7]:
def get_summary_statistics(df):
    print(df.describe())

In [8]:
def get_specific_statistics(df):
    for column in df.columns:
        if df[column].dtype in ['float64', 'int64']:
            print(f"{column}:")
            print(f"Mean: {df[column].mean()}")
            print(f"Median: {df[column].median()}")
            print(f"Standard deviation: {df[column].std()}")
            print(f"Minimum: {df[column].min()}")
            print(f"Maximum: {df[column].max()}")
            print(f"NotNa: {df[column].count()}")
        else:
            print(f"{column}:")
            print(f"Unique: {df[column].unique()}")
            print(f"Value counts: {df[column].value_counts()}")

## Compare Subset Data

In [2]:
df = pd.read_csv('../../data/processed_data/HPMS/hpms_aadt_subset.csv')
df_old = pd.read_csv('Z:\ROAD_AQ\HPMS Traffic Data\HPMS\AADT Subset\HPMS Dataset\hpms_aadt_subset.csv')

C:\Users\achawla1\AppData\Local\Temp\ipykernel_3952\511879785.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/processed_data/HPMS/hpms_aadt_subset.csv')

In [9]:
get_columns(df)

Columns: Index(['FID_Link_Cnty_Intxn', 'STATEFP', 'STATENAME', 'COUNTYFP', 'GEOID',
       'F_SYSTEM', 'URBAN_CODE', 'URBAN', 'THROUGH_LANES', 'LANE_KMS',
       'LANE_MILES', 'VKT', 'VMT', 'AADT', 'AADT_MDV', 'AADT_HDV',
       'Shape_Length'],
      dtype='object')

In [10]:
get_columns(df_old)

Columns: Index(['FID_Link_Cnty_Intxn', 'STATEFP', 'STATENAME', 'COUNTYFP', 'GEOID',
       'F_SYSTEM', 'URBAN_CODE', 'URBAN', 'THROUGH_LANES', 'LANE_KMS',
       'LANE_MILES', 'VKT', 'VMT', 'AADT', 'AADT_MDV', 'AADT_HDV',
       'Shape_Length', 'VKT_MDV', 'VKT_HDV', 'VKT_LDV', 'URBAN_DESC'],
      dtype='object')

In [6]:
for col in df.columns:
    if df[col].dtype in ['float64', 'int64']:
        print(f'{col} - Avg: {df[col].mean()}, Std: {df[col].std()}, NotNaN: {df[col].count()}')
    else:
        print(f'{col} - NotNaN: {df[col].count()}, NUniq: {df[col].nunique()}')

FID_Link_Cnty_Intxn - Avg: 3466016.8636427354, Std: 1988834.0455736602, NotNaN: 6598607
STATEFP - Avg: 28.798777984504913, Std: 15.630561971381775, NotNaN: 6598607
STATENAME - NotNaN: 6590337, NUniq: 50
COUNTYFP - Avg: 84.45329233882242, Std: 84.81718272387829, NotNaN: 6598607
GEOID - Avg: 28883.231276843733, Std: 15640.170971752907, NotNaN: 6598607
F_SYSTEM - Avg: 3.614051571793865, Std: 1.2748453393081955, NotNaN: 6598607
URBAN_CODE - NotNaN: 6598607, NUniq: 5
URBAN - Avg: 0.4278507569855274, Std: 0.6164608625058396, NotNaN: 6598607
THROUGH_LANES - Avg: 2.7395336621805177, Std: 1.3020792812552877, NotNaN: 6598607
LANE_KMS - Avg: 0.6082584555608842, Std: 1.6373502642021278, NotNaN: 6598607
LANE_MILES - Avg: 0.37795428172030604, Std: 1.0174022857774476, NotNaN: 6598607
VKT - Avg: 1889.1909432951877, Std: 4594.914882371885, NotNaN: 6598607
VMT - Avg: 1173.8888287993036, Std: 2855.147738688441, NotNaN: 6598607
AADT - Avg: 12594.829351103952, Std: 24733.55176050276, NotNaN: 6598607
AADT_MDV - Avg: 640.8306755506511, Std: 1127.3432332792065, NotNaN: 4766630
AADT_HDV - Avg: 1114.5275197416274, Std: 2429.671731908085, NotNaN: 4766451
Shape_Length - Avg: 253.43832673879746, Std: 791.9755261719512, NotNaN: 6598607

In [7]:
for col in df_old.columns:
    if df_old[col].dtype in ['float64', 'int64']:
        print(f'{col} - Avg: {df_old[col].mean()}, Std: {df_old[col].std()}, NotNaN: {df_old[col].count()}')
    else:
        print(f'{col} - NotNaN: {df_old[col].count()}, NUniq: {df_old[col].nunique()}')

FID_Link_Cnty_Intxn - Avg: 3465946.741007228, Std: 1987198.488382866, NotNaN: 6598605
STATEFP - Avg: 28.798782015289596, Std: 15.630562177236003, NotNaN: 6598605
STATENAME - NotNaN: 6590335, NUniq: 50
COUNTYFP - Avg: 84.45324913371842, Std: 84.81718843180093, NotNaN: 6598605
GEOID - Avg: 28883.235264423314, Std: 15640.171209642785, NotNaN: 6598605
F_SYSTEM - Avg: 3.6140513032678876, Std: 1.2748454094937753, NotNaN: 6598605
URBAN_CODE - NotNaN: 6598605, NUniq: 5
URBAN - Avg: 0.4278510382118645, Std: 0.6164609286986678, NotNaN: 6598605
THROUGH_LANES - Avg: 2.739533583234638, Std: 1.3020793543255387, NotNaN: 6598605
LANE_KMS - Avg: 0.60825865616463, Std: 1.6373505022973998, NotNaN: 6598605
LANE_MILES - Avg: 0.37795440636969474, Std: 1.0174024337230134, NotNaN: 6598605
VKT - Avg: 1889.1915324143404, Std: 4594.915493982414, NotNaN: 6598605
VMT - Avg: 1173.8891948609737, Std: 2855.1481187256923, NotNaN: 6598605
AADT - Avg: 12594.832381389702, Std: 24733.554905563014, NotNaN: 6598605
AADT_MDV - Avg: 640.8306623337662, Std: 1127.343240199736, NotNaN: 4766630
AADT_HDV - Avg: 1114.527376448431, Std: 2429.671777208949, NotNaN: 4766451
Shape_Length - Avg: 253.4384116416277, Std: 791.9756469636237, NotNaN: 6598605
VKT_MDV - Avg: 83.75418380378493, Std: 196.8293109119345, NotNaN: 4766630
VKT_HDV - Avg: 146.17124605269527, Std: 408.7145257228749, NotNaN: 4766451
VKT_LDV - Avg: 1789.3645917136816, Std: 4099.39493189971, NotNaN: 4766139
URBAN_DESC - NotNaN: 6598605, NUniq: 3

## Compare Imputed Data

In [3]:
df = pd.read_csv('../../data/processed_data/HPMS/hpms_aadt_imputed.csv')
df_old = pd.read_csv('Z:\ROAD_AQ\HPMS Traffic Data\HPMS\Imputed AADT\hpms_aadt_imputed.csv')

C:\Users\achawla1\AppData\Local\Temp\ipykernel_10896\4064996386.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../../data/processed_data/HPMS/hpms_aadt_imputed.csv')

In [11]:
get_columns(df)

Columns: Index(['FID_Link_Cnty_Intxn', 'STATEFP', 'STATENAME', 'COUNTYFP', 'GEOID',
       'F_SYSTEM', 'URBAN_CODE', 'URBAN', 'THROUGH_LANES', 'LANE_KMS',
       'LANE_MILES', 'VKT', 'VMT', 'AADT', 'AADT_MDV', 'AADT_HDV',
       'Shape_Length'],
      dtype='object')

In [12]:
get_columns(df_old)

Columns: Index(['FID_Link_Cnty_Intxn', 'STATEFP', 'STATENAME', 'COUNTYFP', 'GEOID',
       'F_SYSTEM', 'URBAN_CODE', 'URBAN', 'THROUGH_LANES', 'LANE_KMS',
       'LANE_MILES', 'VKT', 'VMT', 'AADT', 'AADT_MDV', 'AADT_HDV',
       'Shape_Length', 'VKT_MDV', 'VKT_HDV', 'VKT_LDV', 'URBAN_DESC'],
      dtype='object')

In [13]:
get_column_types(df)

FID_Link_Cnty_Intxn: int64
STATEFP: int64
STATENAME: object
COUNTYFP: int64
GEOID: int64
F_SYSTEM: int64
URBAN_CODE: object
URBAN: float64
THROUGH_LANES: float64
LANE_KMS: float64
LANE_MILES: float64
VKT: float64
VMT: float64
AADT: float64
AADT_MDV: float64
AADT_HDV: float64
Shape_Length: float64

In [14]:
get_column_types(df_old)

FID_Link_Cnty_Intxn: int64
STATEFP: int64
STATENAME: object
COUNTYFP: int64
GEOID: int64
F_SYSTEM: int64
URBAN_CODE: object
URBAN: float64
THROUGH_LANES: float64
LANE_KMS: float64
LANE_MILES: float64
VKT: float64
VMT: float64
AADT: float64
AADT_MDV: float64
AADT_HDV: float64
Shape_Length: float64
VKT_MDV: float64
VKT_HDV: float64
VKT_LDV: float64
URBAN_DESC: object

In [16]:
get_specific_statistics(df)

FID_Link_Cnty_Intxn:
Mean: 3321891.989053012
Median: 3348947.5
Standard deviation: 2018035.4452556176
Minimum: 2
Maximum: 6928070
NotNa: 5334892
STATEFP:
Mean: 23.57994126216613
Median: 24.0
Standard deviation: 12.556701731583688
Minimum: 1
Maximum: 46
NotNa: 5334892
STATENAME:
Unique: ['Alabama' 'Alaska' 'Arizona' 'Arkansas' 'California' 'Colorado'
 'Connecticut' 'Delaware' nan 'Florida' 'Georgia' 'Hawaii' 'Idaho'
 'Illinois' 'Indiana' 'Iowa' 'Kansas' 'Kentucky' 'Louisiana' 'Maine'
 'Maryland' 'Massachusetts' 'Michigan' 'Minnesota' 'Mississippi'
 'Missouri' 'Montana' 'Nebraska' 'Nevada' 'New Hampshire' 'New Jersey'
 'New Mexico' 'New York' 'North Carolina' 'North Dakota' 'Ohio' 'Oklahoma'
 'Oregon' 'Pennsylvania' 'Rhode Island' 'South Carolina' 'South Dakota']
Value counts: STATENAME
Pennsylvania      388248
California        367941
Missouri          316890
New York          277705
Illinois          234382
Georgia           224333
Florida           221564
Alabama           213672
Indiana           207498
Michigan          178237
Kentucky          171716
Kansas            167237
Minnesota         155601
Ohio              146109
Louisiana         140230
Iowa              137521
North Carolina    134722
Colorado          128082
Nebraska          123973
Massachusetts     119947
Oklahoma          116660
Arizona           103709
New Jersey        102680
Arkansas           79164
Mississippi        76001
Maine              74287
Idaho              71371
South Carolina     69641
Montana            68929
Oregon             68117
New Mexico         65675
North Dakota       57182
New Hampshire      53933
Nevada             47025
Maryland           44510
South Dakota       43608
Connecticut        42396
Alaska             27877
Hawaii             22471
Delaware           19347
Rhode Island       16431
Name: count, dtype: int64
COUNTYFP:
Mean: 75.05172194676106
Median: 65.0
Standard deviation: 60.37252225860593
Minimum: 1
Maximum: 510
NotNa: 5334892
GEOID:
Mean: 23654.992984112894
Median: 24003.0
Standard deviation: 12553.807457179311
Minimum: 1001
Maximum: 46061
NotNa: 5334892
F_SYSTEM:
Mean: 3.653839665357799
Median: 4.0
Standard deviation: 1.2659115643283536
Minimum: 1
Maximum: 6
NotNa: 5334892
URBAN_CODE:
Unique: ['99999'
 '0          None\n1          None\n2          None\n3          None\n4          None\n           ... \n6928065    None\n6928066    None\n6928067    None\n6928068    None\n6928069    None\nName: UACE10, Length: 6928070, dtype: object'
 '99998' 99999 99998]
Value counts: URBAN_CODE
99999                                                                                                                                                                                                                                      3356030
0          None\n1          None\n2          None\n3          None\n4          None\n           ... \n6928065    None\n6928066    None\n6928067    None\n6928068    None\n6928069    None\nName: UACE10, Length: 6928070, dtype: object    1601474
99998                                                                                                                                                                                                                                       350912
99999                                                                                                                                                                                                                                        25544
99998                                                                                                                                                                                                                                          932
Name: count, dtype: int64
URBAN:
Mean: 0.43209159623100146
Median: 0.0
Standard deviation: 0.6142405642612897
Minimum: 0.0
Maximum: 2.0
NotNa: 5334892
THROUGH_LANES:
Mean: 2.7093298233591234
Median: 2.0
Standard deviation: 1.2961383505272253
Minimum: 1.0
Maximum: 44.0
NotNa: 5334892
LANE_KMS:
Mean: 0.5839956172805912
Median: 0.3220130077996347
Standard deviation: 1.6221193006317571
Minimum: 3.162275822425842e-06
Maximum: 178.93348336005835
NotNa: 5334892
LANE_MILES:
Mean: 0.3628780529710186
Median: 0.20008960657238894
Standard deviation: 1.0079382037847266
Minimum: 1.964947097964041e-06
Maximum: 111.1841118866186
NotNa: 5334892
VKT:
Mean: 1844.990433481592
Median: 567.2281908544305
Standard deviation: 4560.201214204352
Minimum: 2.253197806098681e-05
Maximum: 864048.7952693093
NotNa: 5334892
VMT:
Mean: 1146.4239053189317
Median: 352.4592572218436
Standard deviation: 2833.577665312292
Minimum: 1.4000722071220827e-05
Maximum: 536895.0300677228
NotNa: 5334892
AADT:
Mean: 12513.003405317297
Median: 4516.0
Standard deviation: 24907.570683984188
Minimum: 1.0
Maximum: 461000.0
NotNa: 5334892
AADT_MDV:
Mean: 514.4222307082225
Median: 195.0
Standard deviation: 979.8927041290406
Minimum: 0.0
Maximum: 27035.0
NotNa: 5334892
AADT_HDV:
Mean: 798.3257978018905
Median: 141.0
Standard deviation: 2028.2084433190764
Minimum: 0.0
Maximum: 46078.0
NotNa: 5334892
Shape_Length:
Mean: 244.3974407370166
Median: 160.09757129724244
Standard deviation: 787.4168783730523
Minimum: 0.0015811379112129
Maximum: 89466.74168002917
NotNa: 5334892

In [31]:
df['AADT_MDV'].std()

979.8927041290406

In [33]:
df['AADT_HDV'].std()

2028.2084433190764

In [32]:
df_old['AADT_MDV'].std()

992.0278600728428

In [34]:
df_old['AADT_HDV'].std()

2126.2203774830787